*{
    font-family: sans-serif;
    margin: 0px
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin :60px;
    border: solid;
    border-color: blueviolet;
    border-radius: 40px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(
        90deg, rgba(2,0,36,1) 0%,
        rgba(90,9,121,1) 38%, 
        rgba(0,212,255,1) 100%);
    color: greenyellow;
    height: 100px;
    font-size: 30px;
    text-transform: uppercase;
    
}
nav a{
    border: green;
    border-style: solid;
    border-radius: 10px;;
    color: greenyellow;
    background-color: rgba(95, 34, 110, 0.712);
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
nav a:hover{
   
    background-color:rgba(0, 0, 0, 0.822);
    transition: 2s;
    

}
.center-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
    margin:30px;
}
.imagens-rede img{

    height: 200px;
    width: 200px;
}
table img{
    height: 200px;
    width: 200px;
}

th{
    font-size: 30px;
    border-bottom: solid;
    border-right: solid;
    
}
tr td{
    align-items: center;
    font-size: 25px;
    margin:5px;
  border-bottom: solid;
  border-right: solid;
}

table{
    border-style: solid; 
      
}
footer{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(2,0,36);
    background: linear-gradient(
        90deg, rgba(2,0,36,1) 0%,
        rgba(90,9,121,1) 38%, 
        rgba(0,212,255,1) 100%);
    color: greenyellow;
    font-weight: bold;
    margin-top: calc(63vh - 80px);
    height: 80px;
   
    

}